<div class="block-container row mt-5">
    <div class="col-sm-12 text-center">
        <img class="block-content w-100" data-id="{{ block.id }}" src="{{ block|dc_content }}" alt="">
    </div>
</div>
