<div class="block-container row justify-content-center my-4 my-md-5 py-md-5 block">
    <div class="col-10">
        <p class="block-content" data-id="{{ block.id }}" style="{{ block.css }}">{{ block|dc_content }}</p>
    </div>
</div>
