{% trans_default_domain 'portfolio' %}
<div class="row" style="gap: 1rem">
    <div class="col" style="flex: 1">
        <div class="mt-7">
            <img src="{{ asset('assets/img/portfolio/biuroland_scroll.png') }}" class="w-100" alt="biuroland_scroll" style="translate: 5%">
        </div>
    </div>
    <div class="col" style="flex: 1">
        <div class="row mt-2">
            <div class="col flex-end w-100 align-end">
                <div>
                    <sub> (04)</sub><h1 class="p-header" style="display: inline-block">Webdesign</h1>
                </div>
                <span class="p-name">Biuroland / Nowystyl</span>
            </div>
        </div>
        <p class="p-desc">
            {% trans %}Projekt dla ESC SA. Strona internetowa BiuroLand skutecznie łączy atrakcyjny wygląd z funkcjonalnością, tworząc angażujące  informacyjne doświadczenie zakupowe dla kupujących meble biurowe. Doskonale przekazuje profesjonalizm, wiedzę i podejście zorientowane na klienta.{% endtrans %}
            <br>
            <a class="p-link" href="www.serwisfoteli.pl">www.serwisfoteli.pl</a>
        </p>
        <div>
            <img src="{{ asset('assets/img/portfolio/biuroland_mockup.png') }}" alt="biuroland_mockup" class="" style="width: 90%">
        </div>
{#        <div style="position: relative; width: 100%; max-width: 100%">#}
{#            <div style="position: absolute; bottom: 10vw; right: -40vw; width: 130vw; height: 100%; z-index: -1;">#}
{#                <img src="{{ asset('assets/svg/p_4.svg') }}" alt="tukuptu_main" style="object-fit: fill;">#}
{#            </div>#}
{#        </div>#}
        <div class="mt-2" style="height: 100%; position: relative">
            <img src="{{ asset('assets/svg/biuroland_pallete.svg') }}" style="position: absolute; bottom: 0" alt="biuroland_pallete" class="w-100">
        </div>
    </div>
</div>
