<div class="row" style="gap: 1rem">
    <div class="col" style="flex: 1">
        <div>
            <h1 class="p-header" style="display: inline-block">Fashion</h1><sub> (01)</sub>
        </div>
        <span class="p-name">Skoczek Nowy Targ</span>
        <p class="p-desc">
            Główna grafika z hasłem „I'm the Beast” przedstawia spadochroniarza w akcji, otoczonego stylizowanym zarysem spadochronu. Przerywane linie dodają dynamiki, a hasło, napisane energicznym, odręcznym stylem, podkreśla pewność siebie i adrenalinę. Zielone tło z gradientem i postarzonym efektem nadaje projektowi świeży i naturalny charakter.
        </p>
        <div class="mt-7" style="margin-top: 20rem">
            <img src="{{ asset('assets/img/portfolio/fashion_sky_krakow.png') }}" alt="fashion_sky_krakow" style="width: 80%">
        </div>
        <div class="mt-7">
            <h1 class="p-header" style="display: inline-block">Fashion</h1><sub> (03)</sub>
        </div>
        <span class="p-name">Skoczek Nowy Targ</span>
        <div class="mt-2">
            <img src="{{ asset('assets/img/portfolio/fashion_nowy_targ.png') }}" alt="fashion_nowy_targ" style="width: 100%">
        </div>
    </div>
    <div class="col" style="flex: 1">
        <div class="mt-2">
            <img src="{{ asset('assets/img/portfolio/fashion_main.png') }}" alt="fashion_main" style="width: 115%; translate: -10%">
        </div>
        <div class="row mt-2">
            <div class="col flex-end w-100 align-end">
                <div>
                    <sub> (02)</sub><h1 class="p-header" style="display: inline-block">Fashion</h1>
                </div>
                <span class="p-name">KrakSky</span>
            </div>
        </div>
        <p class="p-desc">
            Ten projekt charakteryzuje się żywym, artystycznym wyglądem z odważnymi akcentami bieli, żółci, pomarańczu i niebieskiego. Nieregularny efekt rozprysków farby dodaje energii i kreatywności, nadając koszulce dynamiczny i nowoczesny charakter.
        </p>
        <div class="row mt-7" style="margin-top: 10em">
            <div class="col flex-end w-100 align-end">
                <div>
                    <sub> (04)</sub><h1 class="p-header" style="display: inline-block">Fashion</h1>
                </div>
                <span class="p-name">SOL</span>
            </div>
        </div>
        <div class="mt-2 col align-end">
            <img src="{{ asset('assets/img/portfolio/fashion_sol.png') }}" alt="fashion_sol" style="width: 65%">
        </div>
    </div>
</div>
