{% trans_default_domain 'portfolio' %}
<div class="row" style="gap: 1rem">
    <div class="col" style="flex: 1">
        <div>
            <h1 class="p-header" style="display: inline-block">{% trans %}Aplikacja{% endtrans %}</h1><sub> (01)</sub>
        </div>
        <span class="p-name">FOCO</span>
        <p class="p-desc">
            {% trans %}Aplikacja, która ma na celu ograniczenie czasu poświęcanego na social-media, w ramach kamieni milowych użytkownik otrzymuje punkty, które wymienia na kupony do wykorzystania.{% endtrans %}
        </p>
        <div class="col" style="align-items: flex-start; margin-top: 40px">
            <div class="w-100 d-flex justify-center"><img src="{{ asset('assets/svg/foco_icon.svg') }}" alt="foco_mockup" style="width: 50%"></div>
            <div class="w-100 d-flex justify-center"><img src="{{ asset('assets/svg/foco_logo.svg') }}" alt="foco_logo" style="width: 50%; margin-top: 30px"></div>
        </div>
    </div>
    <div class="col" style="flex: 1">
        <div><img src="{{ asset('assets/img/portfolio/foco_mockup.png') }}" alt="foco_icon" class="w-100"></div>
        <div class="row mt-2">
            <div class="col flex-end w-100 align-end">
                <div>
                    <sub> (02)</sub><h1 class="p-header" style="display: inline-block">Branding</h1>
                </div>
                <span class="p-name">FOCO</span>
            </div>
        </div>
        <p class="p-desc">
            {% trans %}Branding Foco, marki przyjemnej oraz miłej dla odbiorców. Misja marki polega na wpłynięciu na czas spędzony przed ekranem.{% endtrans %}
        </p>
    </div>
</div>



