<div class="row p-row">
    <div class="col">
        <div>
            <h1 class="p-header">Opakowania</h1><sub>(02)</sub>
        </div>
        <span class="p-title">Leśne skarby</span>
        <p class="p-desc">
            Projekt etykiety łączy głębokie, szlachetne kolory, elegancką typografię i subtelne motywy trufli, tworząc ekskluzywny, naturalny charakter. Minimalistyczny design podkreśla dziedzictwo marki i jej luksusowy charakter.
        </p>
        <div>
            <img src="{{ asset('assets/img/portfolio/forest.png') }}" alt="" class="w-100">
        </div>
    </div>
</div>
