{% trans_default_domain 'portfolio' %}
<div class="row p-row">
    <div class="col" style="flex: 1">
{#        <div style="position: relative; width: 100%; max-width: 100%">#}
{#            <div style="position: absolute; bottom: 45vw; left: -25%; width: 130vw; height: 20%; z-index: -1;">#}
{#                <img src="{{ asset('assets/svg/p_4.svg') }}" alt="tukuptu_main" style="object-fit: fill;">#}
{#            </div>#}
{#        </div>#}
        <div><img src="{{ asset('assets/img/portfolio/good_drink.png') }}" alt="good_energy_drink" class="w-100"></div>
    </div>
    <div class="col align-end justify-center" style="flex: 1">
        <div>
            <sub>(01) </sub><h1 class="p-header">{% trans %}Opakowania{% endtrans %}</h1>
        </div>
        <span class="p-title">Prelitech</span>
        <p class="p-desc">
            {% trans %}Ten nowoczesny i dynamiczny design etykiety nosi nazwę „GOOD DRINK EXTRA ENERGY”. Łączy elegancką, sportową estetykę z wyrazistym stylem wizualnym, podkreślającym moc, energię i wydajność.{% endtrans %}
        </p>
    </div>
</div>
