<div class="row">
    <div class="col" style="flex: 2">
        <div>
            <h1 class="p-header" style="display: inline-block">Webdesign</h1><sub> (01)</sub>
        </div>
        <span class="p-name">TUKUPTU</span>
        <p class="p-desc">
            Minimalizm, luksus i komfort – tak krótko opisałbym mój najnowszy projekt dla sklepu TUKUPTU. Stworzyłem przestrzeń, w której estetyka spotyka się z funkcjonalnością, a elegancja łączy się z nowoczesnością.
        </p>
        <img src="{{ asset('assets/img/portfolio/sahur-scroll.png') }}" alt="tukuptu_scroll" style="width: 75%">
    </div>
    <div class="col" style="flex: 3">
        adam
    </div>
</div>
