<div class="row p-row" style="gap: 10%">
    <div class="d-flex align-center" style="flex: 1">
        <img src="{{ asset('assets/img/portfolio/stockholm_logo.svg') }}" alt="stockholm_logo" class="w-100">
    </div>
    <div class="col align-end" style="flex: 1">
        <div>
            <sub>(04)</sub><h1 class="p-header">Branding</h1>
        </div>
        <span class="p-title">GO Stockholm</span>
        <p class="p-desc">
            Logotyp łączy nowoczesność i dynamikę. Prosta typografia w połączeniu z kontrastującą zielenią podkreśla energię i ekologiczną świadomość marki, tworząc świeży i nowoczesny wizerunek firmy transportowej.
        </p>
        <div class="d-flex flex-end">
            <img src="{{ asset('assets/img/portfolio/stockholm_logo_2.svg') }}" alt="stockholm_logo" style="width: 75%">
        </div>
    </div>
</div>
