html, body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    font-family: 'Poppins';
    /* padding: 1rem 5rem; */
    background-color: #191919;
    color: white;
}

.app {
    padding: 1rem 5rem;
    /* overflow-x: hidden; */
}

.logo{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan-text, .slogan-subtext, .slogan-left {
    user-select: none;
}

.slogan-text {
    /* font-family: 'Poppins ExtraBold'; */
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.slogan-subtext {
    /* font-family: 'Poppins Thin'; */
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.slogan-left {
    flex: 1;
    /* font-family: 'Poppins Thin'; */
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.slogan-left-text {
    rotate: 90deg;
    width: max-content;
}
.slogan-subtext, .slogan-text, .slogan-left-text {
    animation: slide-up 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(40px);
    opacity: 0;
    will-change: transform;
    transform-origin: 50% 52%;
}

.slogan-subtext, .slogan-text {
    animation-delay: 400ms;
}


@keyframes slide-up {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    justify-content: space-between;
}

footer {
    margin-top: 50px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
}

.nav-menu {
    display: flex;
    font-size: 20px;
}

.nav-btn:last-child {
    border-left: 1px solid white

}

.nav-btn {
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    width: 100px;
    margin: 0 20px;
    transition: background-color 200ms;
    /*border-radius: 100px;*/
}

.nav-btn:hover {
    background-color: #63636320;
    border-radius: 100px;
}

#contact-info {
    margin-left: 50px;
    padding-left: 20px;
    border-left: 2px solid white
}

.background {
    z-index: -1;
    position: absolute;
    right: -30vw;
    /* top: 25vh; */
    top: 200px;
    aspect-ratio: 1;
    width: 60vw;
    /* background: radial-gradient(circle, rgba(23,0,69,1) 0%, rgba(25,25,25,1) 75%); */
    background: radial-gradient(circle, #002284 0%, rgba(25,25,25,1) 75%);
    background-repeat: no-repeat;
}
.background-2 {
    z-index: -1;
    position: absolute;
    left: -30vw;
    /* top: 25vh; */
    top: 0;
    aspect-ratio: 1;
    width: 60vw;
    /* background: radial-gradient(circle, rgba(23,0,69,1) 0%, rgba(25,25,25,1) 75%); */
    background: radial-gradient(circle, #002284 0%, rgba(25,25,25,1) 75%);
    background-repeat: no-repeat;
}

.background::before {
    /* z-index: -1; */
    /* position: absolute; */
    /* content: ''; */
    /* left: -80vw; */
    /* top: -50vh; */
    /* top: -400px; */
    /* aspect-ratio: 1; */
    /* width: 60vw; */
    /* background: radial-gradient(circle, rgba(52,0,0,1) 0%, rgba(25,25,25,0) 70%); */
    /* background: radial-gradient(circle, #002284 0%, rgba(25,25,25,0) 70%); */
    /* background-repeat: no-repeat; */
}
