.p-header {
    font-weight: normal;
    font-size: 2rem;
    display: inline-block;
}

.p-name {
    font-size: 1.3rem;
    font-weight: 200;
}

.p-desc {
    font-weight: 300;
}

.p-row {
    gap: 1rem;
}

.p-link {
    color: #0A84FF;
}

.social-media {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(40%, 250px), 1fr));
}

.portfiolio-item {
    margin: 4rem 0;
}
