{% trans_default_domain 'layout' %}
<header class="d-flex justify-content-between">
    <a href="{{ path('app_index') }}" class="nav-btn justify-center" style="flex: 0">
        <img src="{{ asset('assets/svg/logo.svg') }}" alt="polska" width="80">
    </a>
    <div class="burger-button mobile">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
